body {
    font-size: 15px;
    color: #484a42;
    font: "Liberation Sans";
}

.navbar-brand {
    font-size: 20px;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #232a11;
    line-height: inherit;
}

h1, .h1 {
    font-weight: bold;
}

h2, .h2 {
    font-weight: 500;
    font-size: 27px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #1C6445;
    border-color: #1C6445;
}

.hero-image {
    position: relative;
    margin-bottom: 2em;
    margin-top: -0.5em;
    /* liner gradient tints the image darker for readability*/
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url(bushes.jpg); 
    height: 300px;
    background-size: cover;
    background-color: #141c25f2;
    background-position: center center;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
}

.bottom-text {
  position: relative;
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no top text */
  color: #ffffff99;
}

.top-text {
  position: relative;
  line-height: 1em;
  font-size: 58px;
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no bottom text */
  color: #ffffff;
  margin-bottom: 2.5rem;
  font-weight: bold;
}